.clientss {
    max-height: 243px;
    overflow-y: scroll;
    overflow-x: auto;
    padding-left: 20%;
}

#clientsVatnumber {
    cursor: pointer;
    z-index: 10000;

}
#clientsVatnumber:hover {
    background-color: aliceblue;
}



.clientss:hover{
    overflow-y: scroll;
    z-index: 100000000;
}

