.clients_wrapper {
    height: 60px;
    overflow: hidden;
    transition: height 0.3s ease; /* Add a smooth transition effect */
}

.clients_wrapper.active {
    height: 280px;
}
.right_header {
    height: 10vh;
    background-color: blue;
}

.clients_wrapper.active #clients {
    z-index: 100;
    overflow-y: scroll;
    height: 100%;
}
.clients_wrapper:not(.active) {
    transition: height 0s; /* No transition for closing (instant) */
}


#clientsVatnumber{
    cursor: pointer;
    padding-left: 20%;
    z-index: 101;
}
#clientsVatnumber:hover{
background-color: #7449a8;
}
