s.col-sm-12 {
    position: fixed;
    margin-left: 18%;
    bottom: 10px;
    right: 10px;
}
.col-md-7{
    position: fixed;
    margin-left: 18%;
    bottom: 10px;
    right: 10px;
}

.paging_simple_numbers{
    position: fixed;
    margin-left: 18%;
    bottom: 10px;
    right: 10px;
}


.created{
    width: 30%;
    overflow: hidden;
}
