td{
    max-width: 120px !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
  }
fic{
    max-width: 120px !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
digestmethod{
    max-width: 120px !important;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    text-overflow: ellipsis;
}

digestmethod:hover{
    text-overflow: initial;
}

td:hover {
    text-overflow: initial;
    overflow-x: scroll;
    cursor:auto;
  }
  fic:hover {
    text-overflow: initial;
    overflow-x: scroll;
    cursor: auto;
  }
  .odd{
    max-height: 30px;
    line-height: 0.3;
  }
.even{
    max-height: 30px;
    line-height: 0.3;
}


.col-sm-12 .col-md-7{
    position: fixed;
    margin-left: 18%;
    bottom: 10px;
    right: 10px;
}

.table.dataTable{
    margin-top: 40px;
}


.created{
    width: 30%;
    overflow: hidden;
}




.top{
    display: flex;
}


.static{
    margin-right: 200px;
}
