td{
    word-break:break;

  }


  .faturat_table tbody tr td{
        max-height: 30px ;
  }

  .row{
    width: 220%;
  }


  div.dataTables_wrapper div.dataTables_filter label {
    margin-right: 40%;
  }

  .lol{
    max-height: 40px;
    height: 40px;
    overflow: hidden;
    width: 130px;
  }

  div.dataTables_wrapper div.dataTables_filter label {
    margin-right: 150vh;
  }
